@page
@model Bookstore.Pages.CartModel
@{
}

<h2>Your cart:</h2>

<table class="table table-bordered table-striped">

    <thead>
        <tr>
            <th>Book</th>
            <th>Quantity</th>
            <th>Cost</th>
            <th>Subtotal</th>
        </tr>
    </thead>

    <tbody>
        @foreach(var i in Model.basket.Items)
        {
        <tr>
            <td>@i.Books.Title</td>
            <td>@i.Quantity</td>
            <td>@((i.Books.Price).ToString("c"))</td>
            <td>@((i.Books.Price * i.Quantity).ToString("c"))</td>

            <td class="text-center">
                <form method="post" asp-page-handler="Remove">
                    <input type="hidden" name="bookId" value="@i.Books.BookId"/>
                    <input type="hidden" name="returnURL" value="@Model.ReturnUrl"/>
                    <button type="submit" class="btn btn-sm btn-danger">Remove</button>
                </form>
            </td>
        </tr>
        }
    </tbody>

    <tfoot>
        <tr>
            <td colspan="3">Total:</td>
            <td>@Model.basket.CalculateTotal().ToString("c")</td>
        </tr>
    </tfoot>

</table>

<div>
    <a class="btn btn-primary" href="@Model.ReturnUrl">Continue Browsing</a>
    <a class="btn btn-primary" asp-controller="Purchase" asp-action="Checkout" >Checkout</a>
</div>